.base {
  margin: 50px auto;
  width: 1600px;
}

.box {
  position: relative;
  width: 100%;
  height: 800px;
  border: solid 5px;
  background-color: black;
}

.largebox {
  position: relative;
  width: 100%;
  height: 2000px;
  border: solid 5px;
  background-color: black;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.birthday {
  width: 100%;
  display: flex;

  justify-content: center;
  font-family: Arial;
  font-size: 130px;
}


.glow {
  color: #fff;
  text-align: center;
  animation: glow 0.2s ease-in-out infinite alternate;
  -webkit-animation: glow 0.2s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.arriveBottom {
  animation: arriveBottom 1s ease-in-out infinite alternate;
  -webkit-animation: arriveBottom 1s ease-in-out infinite alternate;
}

@keyframes arriveBottom {
  from {
    top: 100%
  } 
  to {
    top: 45%
  }
}

.modi {
  animation: modi 1.5s linear infinite alternate;
  -webkit-animation: modi 1.5s linear infinite alternate;
}

@keyframes modi {
  from {
    top: 75%;
    left: -150px;
  } 
  to {
    top: 45%;
    left: 10%;
  }
}

.giftbtn {
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: none;
}

.centerImage {
  background-color: black;
  background-repeat: no-repeat; 
  background-position : center;
  background-size: contain;
}

.countDown {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
}

.countDown p{
  font-size: 130px;
  font-weight: bold;
  color: #183059;
  padding: 10px;
  background-color: #EF2F3C;;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}